@model OnlineCarParking.Entity.CarParkingBooking
@{
    ViewBag.Title = "Display";
}

<h2>Car Parking Site Details</h2>
@Html.ActionLink("Add Car Parking Site Details", "Create")
<br />
<br />
<table border="1">
    @foreach (OnlineCarParking.Entity.CarParkingBooking item in (List<OnlineCarParking.Entity.CarParkingBooking>)TempData["carparkingBookings"])
    {
        <tr>
            <td>carId</td>
            <td>carParkingSiteName</td>
            <td>carParkingSiteLocation</td>
            <td>parkingSlots </td>
        </tr>
        <tr>
            <td>
                @item.carId
            </td>
            <td>
                @item.carParkingSiteName
            </td>
            <td>
                @item.carParkingSiteLocation
            </td>
            <td>
                @item.parkingSlots
            </td>
        </tr>
    }
</table>


